<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/global.css">
    <title>DASHBOARD</title>
</head>

<body>
    <nav>
        <h1>ChoreUp</h1>
        <ul>
            <li>HOME</li>
            <li>CREATE</li>
            <li>LIST</li>
            <li>LOGIN</li>
        </ul>
    </nav>
    <main>
        <div class="sidebar">
            SIDEBAR
        </div>
        <div class="elements">
            <h1>ELEMENTS</h1>
           </div>
    </main>
</body>

</html>