* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #666666;
  }


  body{
    margin-top: 70px;
    min-height: 100vw;
  }



 .title{
    color: #407BFF;
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 3rem;
}

.container1, .container2{
    width: 50%;
    height: auto;
    font-weight: bold;

    float: left;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .container1 img{
    width: 50%;
  }

  .container1 {
    display: flex;
    align-items: center;
  }


.filter {
    width: 6.75rem;
    height: 2.375rem;
    border-radius: 1.25rem;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;

}

.filters{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.container1 p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: -0.0225rem;
}

.container2{

    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.note {
    display: flex;
    width: 30.6875rem;
    height: 13.125rem;
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #407BFF;
    margin: 1% 0;
}

.addnote p{
    color: #000;
    font-weight: 700;
}

.addnote{
    display: flex;
    width: 30.625rem;
    height: 5.5625rem;
    padding: 2rem 1.5rem;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 1.5px solid #407BFF;
    background: #FFF;
    cursor: pointer;
}

  
.addnote:hover {
    background-color: #407BFF;
}
.note p {
    color: #000;
}
.note-content{
    font-weight: 300;
    font-size: 0.8rem;
}
.note-author {
    font-weight: 400;
    font-size: 0.8rem;
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #73C4FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
}

header .logo-text {
    font-weight: bolder;
    color: white;
    font-size: 25px;
}

header img {
    max-width: 70px;
    height: auto;
    display: block;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {

    .title{
        font-size: 2rem;
    }

    .container1, .container2{
        width: 100%;
    }

    .container2 {
        min-height: 40vh;
    }
    .filters{
        width: 100%;
        margin-bottom: 5%;
    }

    .note{
        width: 20.4375rem;
        height: fit-content;
    }
    .addnote{
        width: 20.4375rem;
        height: 4.75rem;
    }
    
    header {
        padding: 10px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #73C4FF;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    #menu-bar:checked ~ #menu-label + .navbar {
        display: block;
    }


}