* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #666666;
  }


  body{
    margin-top: 70px;
    min-height: 100vw;
  }


.messages{
    display: flex;
    justify-content: center;
    color: red;
}

 .title{
    color: #407BFF;
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 3rem;
}
.schedule-wrapper {
    width: 80%;
    margin: 0 auto;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

.schedule-table th,
.schedule-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.schedule-table th {
    color: #407BFF;
    font-weight: normal;
}

.member-avatar {
    border-radius: 50%;
    width: 30px; /* Adjust size as needed */
}

.edit-icon {
    width: 20px; /* Adjust size as needed */
    cursor: pointer;
}
.edit-icon img {
    width: 20px;
}

.save-btn {
    background-color: #407BFF;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    width: 75%;
}

.save-btn:hover {
    background-color: #305FCC;
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #73C4FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
}

header .logo-text {
    font-weight: bolder;
    color: white;
    font-size: 25px;
}

header img {
    max-width: 70px;
    height: auto;
    display: block;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {

    .title{
        font-size: 2rem;
    }
    .schedule-wrapper {
        width: 95%;
    }

    .schedule-table {
        display: block;
        overflow-x: auto;
    }

    .edit-icon {
        width: 4%;
    }
    
    header {
        padding: 10px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #73C4FF;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    #menu-bar:checked ~ #menu-label + .navbar {
        display: block;
    }


}