* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #666666;
  }


  body{
    margin-top: 70px;
  }


  .host{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 160px;
  }

  .user{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .host h2{
    color: #73C4FF;
  }
 .household{
    color: #407BFF;
    position: relative;
    padding-top: 5%;
    padding-left:5%;
    margin-bottom: 5%;
    font-size: 3rem;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;

}

.buttons .btn {
    background-color: #407BFF;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    border: 2px solid #407BFF;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.buttons button {
    background-color: transparent;
    color: #407BFF;
    border: 2px solid #407BFF;
}

.buttons .btn:hover, .buttons button:hover {
    background-color: #305c99;
    border-color: #305c99;
}

.buttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.users {
    display: contents;
}

.roof{
    width: 100%;
}

.rounded-image {
    border-radius: 50%;
    width: 160px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }


@media (max-width: 991px) {

    .buttons .btn {
        margin: 0 5px;
        font-size: small;
        text-align: center;
        padding: initial;
    }

    .host{
        width: 100%;
        padding-bottom: 5%;
        border-bottom: 1px solid #808080;
    
    }
    
    .household {
        margin-left: 0;
        font-size: 2rem;
    }

    .roof{
        width:50%;
    }

   .members .users .user{
        flex-direction: row;
        width: 100%;
        padding: 5% 2%;
        border-bottom: 1px solid #808080;

    }

    h2{
        margin-left: 5%;
    }
    
  .members .users img {
        width: 20%;
    
  }
  .buttons{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 10px 0;
      background: #fff;
  }

}