* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container1 {
    background-color: rgba(64, 123, 255, 1);
    background-image: linear-gradient(360deg, rgba(64, 123, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 55%;
    float: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 img {
    max-width: 60%;
    max-height: 60%;
}
h2 {
    text-align: center;
    font-size: 35px;
}
.container2 {
    background-color: white;
    width: 45%;
    float: left;
    height: auto;
    margin-top: 10%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 280px;
    margin: 20px auto;
    position: static;
}
.login-box h1 {
    text-align: center;
    margin-bottom: 100px;
}

.messages{
    display: flex;
    justify-content: center;
    color: red;
}
.textbox {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.textbox input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.btn {
    font-weight: bold;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0B6EFE;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background-color: #0155D0;
}

@media (max-width: 991px) {

    .container1, .container2 {
        background-color: white;
        width: 100%;
        float: none;
        margin-top: 40%;
   }
    .login-box {
        width: 280px;
        margin: 10px auto;
        position: static;
   }
    .container1, .container1 img {
        display: none;
   }
}
